@model WordToPdfFile
@{
    ViewData["Title"] = "WordToPdf";
    string result = ViewBag.result;
}
<body data-spy="scroll" data-target=".fixed-top">
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Ekol Yeni Teknoloji - Örnek Proje</h1>
                            <p class="p-large">.NET 5 ve RabbitMQ kullanılarak yapılmış örnek bir projedir. Word To PDF butonuna tıklayarak işlemini gerçekleştirebilirsin. </p>
                            <a class="btn-solid-lg page-scroll" href="#features">Word To PDF</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="~/images/header-software-app.png" alt="alternative">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310">
        <defs>
            <style>
                .cls-1 {
                    fill: #5f4def;
                }
            </style>
        </defs>
        <title>header-frame</title>
        <path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
    </svg>
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="~/images/customer-logo-1.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">

                                    <img class="img-fluid" src="~/images/customer-logo-2.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="~/images/customer-logo-3.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="~/images/customer-logo-4.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="~/images/customer-logo-5.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="~/images/customer-logo-6.png" alt="alternative">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">Tanıtım</div>
                    <h2 class="h2-heading">Word To PDF Nasıl Çalışır ?</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="~/images/description-1.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">1. Dosya Ekleme</h4>
                            <p>Dönüştürmek istediğiniz .docx formatlı belgeyi "Dosya Seç" butonuna basarak ekleyiniz.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="~/images/description-2.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">2. Mail Adresi Girişi</h4>
                            <p>Mail adresinizi doğru bir şekilde giriniz.</p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="~/images/description-3.png" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">3. Otomatik Mail Sistemi</h4>
                            <p>Sizin için dosyanız PDF formatına dönüştürülsün ve mail adresinize otomatik mail gelsin. </p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">Word To PDF</div>
                    <h2 class="h2-heading">Dönüştürücü</h2>
                    <p class="p-heading">Bu kısımda dosyanızı yükleyip mail adresinizi girmeniz gerekmektedir.</p>
                </div> <!-- end of col -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Word To PDF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-envelope-open-text"></i>PDF To Zip</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="argoTabsContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="~/images/features-1.png" alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Word(Docx) Dosyasını PDF Yap ! </h3>
                                        <p>Kolay bir şekilde Docx dosyasını PDF dosyası haline getirmek istiyorsan yapman gereken çok basit.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Word dosyanı yükle</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Mail adresini doğru bir şekilde gir.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Dönüştür butonuna bas ve dosya mail olarak gelsin !</div>
                                            </li>
                                        </ul>
                                        @if (result.Length > 1)
                                        {
                                            <p class="alert-info">   @result    </p>

                                        }
                                        <form asp-action="WordToPdf" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label asp-for="File"></label>
                                                <input asp-for="File" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Dönüştür" class="btn btn-dark" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="~/images/features-2.png" alt="alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>PDF To Zip</h3>
                                        <p>Yapım aşamasında..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="~/images/features-3.png" alt="alternative">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




